
.month-picker .react-datepicker__calendar-icon {
    color: #007bff;
}

.month-picker .react-datepicker__view-calendar-icon input {
    padding: 6px 5px 5px 25px;
}

.month-picker input {
    width: 50px;
    outline: none;
}

.month-picker svg {
}

