.excalidraw-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.excalidraw.excalidraw-modal-container {
    z-index: 9999 !important;
}
.excalidraw .popover {
    height: 100%;
}


.excalidraw .Island.App-menu__left {
    left: auto !important;
    right: 15px !important;
    top: 70px !important;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1) !important;
}

.excalidraw .Island.App-menu__left .panelColumn {
    align-items: flex-end !important;
}
