.board-list-view {
    --icon-color: #f4a261;
    --icon-hover-scale: scale(1.2);
    display: flex;
    flex-direction: column;
    background-color: #2b2d30;
    height: 100%;
    color: rgb(255, 255, 255, 0.7);
    /*border-left: 1px solid #1e1f22;*/
    /*border-top: 1px solid #1e1f22;*/
    border: 1px solid #1e1f22;
    border-radius: 15px;
    box-sizing: border-box;
}

.board-list-view .board-list-title {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    /*justify-content: center;*/
    min-width: 0;
    padding-left: 10px;
    border-bottom: 1px solid #1e1f22;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
}

.board-list-view .board-list-title .icon-minimize {
    flex: 0 0 30px;
    padding: 5px;
    box-sizing: border-box;
}

.board-list-title .board-list-name {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.board-list-content {
    flex: 1;
    /*display: flex;*/
    min-width: 0;
    min-height: 0;
    height: 100%;
    box-sizing: border-box;
}

.board-list-table {
    height: 100%;
}

.board-list-row {
    display: flex;
    font-size: 14px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
}

.board-list-row:hover {
    background-color: #19295e;
}

.board-list-row .row-no {
    flex: 0 0 30px;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}
.board-list-row .row-title {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.board-list-row.active {
    background-color: #0d1633;
}

.board-list-icon {
    flex: 0 0 20px;
    width: 20px;
    margin: 0 3px 0 3px;
    box-sizing: border-box;
}

.board-list-label {
    flex: 1;
    min-width: 0;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.board-list-icon .spinner {
    width: 16px;
    height: 16px;
    border: 3px solid #ccc;
    border-top: 3px solid #ffc233;
    border-radius: 50%;
    /*transform-origin: center;*/
    aspect-ratio: 1 / 1;
    animation: spin-job 1s linear infinite;
    box-sizing: border-box;
}

@keyframes spin-job {
    to { transform: rotate(360deg); }
}

.fa-circle-stop { color: var(--icon-color); }
.fa-circle-stop:hover { transform: var(--icon-hover-scale); }
.fa-terminal { color: white; }
.fa-message {color: var(--icon-color);}
.fa-image {color: #008080;}
.fa-film {color: #d63c2d;}
.fa-music {color: #c53d99;}
