.post-active-view {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;

}

.post-title {
    display: flex;
    flex: 0 0 40px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}

.post-content {
    flex: 1;
    overflow-y: auto;
}

video {
    width: 100% !important;
}

.comment {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}




.attach-list {
    display: flex;
    flex-wrap: wrap;
}
.attach-list.hide {
    display: none;
}

.preview-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.preview-media.video {
    background-color: black;
}
.preview-media.audio {
    background-color: white;
}
.preview-media video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.preview-media audio {
    width: 100%;
    height: 30px;
    background-color: #d191bd;
    object-fit: contain;
    padding: 5px;
}
.preview-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*.preview-media video {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.preview-media audio {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.img-list-inner {
    text-align: center;
}
.img-list-inner img{
    max-width: 100%;
}

.class-fr-editor p:has(img) {
    text-align: center;
}
.class-fr-editor img{
    max-width: 100%;
}

.post-active-view .fa-clone {color: #ccc;}

.post-active-view .fa-file {color: #ffc233;}
.post-active-view .fa-file.inactive {color: #ccc;}
.post-active-view .fa-message {color: #ffc233;}
.post-active-view .fa-message.inactive {color: #ccc;}
.post-active-view .fa-image {color: #ffc233;}
.post-active-view .fa-image.inactive {color: #ccc;}

.post-active-view .fa-circle-chevron-down {color: #ccc;}
.post-active-view .fa-circle-minus {color: #ccc;}