.post-active-view {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;

}

.post-title {
    display: flex;
    flex: 0 0 40px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}

.post-content {
    flex: 1;
    overflow-y: auto;
}

video {
    width: 100% !important;
}

.comment {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}




.attach-list {
    display: flex;
    flex-wrap: wrap;
}
.attach-list.hide {
    display: none;
}

.preview-media {
    width: 125px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.preview-media.video {
    background-color: black;
}
.preview-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-media video {
    width: 100%;
    height: 100%;
}

.fa-clone {cursor: pointer;color: #ccc;}
.fa-circle-chevron-down {cursor: pointer;color: #ccc;}
.fa-circle-minus {cursor: pointer;color: #ccc;}