.just-status-bar {
    --icon-color: white;
    padding: 0 5px 0 5px;
    display: flex;
    /*background-color: rgba(0, 0, 0, 0.82);*/
    /*border-top: 1px solid #1e1f22;*/
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

}

.just-status-bar .just-status-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3px;
    column-gap: 5px;
}

.just-status-bar .just-status-icon {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 4px 3px 3px 3px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.just-status-bar .just-status-icon.on {
    background-color: rgba(255, 255, 255, 0.22);
}
.just-status-bar .just-status-icon svg { font-size: 13px; color: var(--icon-color);}

.just-status-bar .just-status-icon:hover { background-color: rgba(255, 255, 255, 0.22);}
