.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; align-items: center;
    overflow: hidden;
    background-color: white;
}

.about .box {
    display: flex;
    width: 450px;
    /*box-sizing: border-box;*/
}

.about .logo {
    flex: 1 1 150px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center; align-items: start;
}
.about .logo svg {
    flex: 1;
    width: 100%;
    height: 100%;
    /*width: 100px;*/
    /*height: 100px;*/
}
.about .content {
    flex: 1 1 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start; align-items: start;
}

.about h2 { margin: 0; padding: 0; }


.about .content .versions {
    padding: 3px;
    font-size: 13px;
}
