.find-bar {
    display: flex;
    user-select: none;
    padding: 0 0 0 4px;
}

.find-bar .search {
    display: flex;
}

.find-bar .search-text {
    padding: 0 0 0 10px;
}

.find-bar .fa-magnifying-glass {color: white}
.find-bar .fa-circle-xmark {color: white}
.find-bar .fa-up-long {color: white}
.find-bar .fa-down-long {color: white}

