.grid-data-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;

    padding: 5px;
    box-sizing: border-box;
    --icon-color: #f4a261;
    --icon-hover-scale: scale(1.2);
    background-color: white;
}

.grid-data-view .grid-head {
    flex: 0 0 25px;
    display: flex;
    padding: 3px;
}
.grid-data-view .grid-container {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
}


.fa-download { color: var(--icon-color); }
.fa-download:hover { transform: var(--icon-hover-scale); }
.fa-pen-to-square { color: var(--icon-color); }
.fa-pen-to-square:hover { transform: var(--icon-hover-scale); }