.side-menu {
    display: flex;
    flex-direction: column;
    background-color: #2b2d30;
    /*background-color: rgba(0, 0, 0, 0.82);*/
    height: 100%;
    color: rgb(255, 255, 255, 0.7);
    /*border-left: 1px solid #1e1f22;*/
    /*border-top: 1px solid #1e1f22;*/
    border: 1px solid #1e1f22;
    border-radius: 15px;
    box-sizing: border-box;
}

.side-menu .side-menu-title {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    /*justify-content: center;*/
    min-width: 0;
    padding-left: 10px;
    border-bottom: 1px solid #1e1f22;
    /*border-radius: 15px;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-sizing: border-box;
}

.side-menu .side-menu-title .side-menu-minimize {
    flex: 0 0 30px;
    padding: 5px;
    box-sizing: border-box;
}

.side-menu-title .side-menu-name {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.side-menu-item .side-menu-icon {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    box-sizing: border-box;
}
.side-menu-item .side-menu-icon svg { width: 100%; height: 100%; color: var(--icon-color);}

.side-menu-item .side-menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-menu .side-menu-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*padding: 0 3px 3px 3px;*/
    row-gap: 5px;
}

.side-menu .side-menu-item {
    display: flex;
    white-space: nowrap;
    align-items: center;
    cursor: default;
    flex: 0 0 30px;
    /*padding: 3px;*/
    /*justify-content: center;*/
}

.side-menu .side-menu-item:hover {
    background-color: #2e436e;
}

