
.just-terminal {
    flex: 1;
    display: flex;
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.xterm {
    flex: 1;
    width: 100%;
}
/*.xterm-viewport {*/
/*    font-family: 'Consolas', 'Courier New', monospace;*/
/*}*/

/*.just-terminal .xterm-dom-renderer-owner-1 .xterm-rows {*/
/*    font-family: "Gulim", "굴림", dotum, sans-serif; !important*/
/*    font-size: 16px;*/
/*}*/