#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #272d30;
}
*:focus {
    outline: none;
}

.just-app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.just-con {
    display: flex;
    /*display: none;*/
    /*flex: 1;*/
    height: 100%;
}


.just-app .react-datepicker-popper {
    z-index: 999;
}
