#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #272d30;
}
*:focus {
    outline: none;
}

.just-app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.just-con {
    display: flex;
    /*display: none;*/
    /*flex: 1;*/
    height: 100%;
}


.just-app .react-datepicker-popper {
    z-index: 999;
}
.attach-list {
    display: flex;
    flex-wrap: wrap;
}
.attach-list.hide {
    display: none;
}

.preview-media {
    width: 125px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.preview-media.video {
    background-color: black;
}
.preview-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-media video {
    width: 100%;
    height: 100%;
}