@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
}


html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*font-family: 'JetBrains Mono', monospace;*/
  font-family: "Pretendard", sans-serif;
  /*font-size: 12px;*/
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
:root {

}

